<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NodeJS ReactJS Application</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <style scr="/css/main.css"></style>
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a title="Home" id="home" class="navbar-brand header-site" href="#/" active="">
                    <i class="glyphicon glyphicon-home"></i>
                </a>
                <a title="Add New" id="add-new-user" class="navbar-brand header-site" href="/models">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
                <a title="List Users" id="show-list-users" class="navbar-brand header-site" href="#users">
                    <i class="glyphicon glyphicon-th"></i>
                </a>
            </div>
        </div>
    </nav>
    <h1>Index Page</h1>
</script>
</script>
</body>

</html>